#button {
 border-radius: 25px;
 background-color: #6D6A75;
 margin: 20px;
 a {
   color: #FFF;
 }
}

#button:hover {
 background-color: transparent;
}

.submit {
 border-radius: 25px;
 background-color: #6D6A75;
 margin: 25px;
 color: #FFF;
}
