dl {
  display: flex;
  background-color: transparent;
  flex-direction: column;
  width: 100%;
  max-width: 700px;
  position: relative;
  padding: 20px;
}

dt {
  align-self: flex-start;
  width: 100%;
  font-weight: 700;
  display: block;
  text-align: center;
  font-size: 1.2em;
  font-weight: 700;
  margin-bottom: 20px;
  margin-left: 130px;
}

.text-css-chart {
  font-weight: 600;
  display: flex;
  align-items: center;
  height: 40px;
  width: 130px;
  background-color: transparent;
  position: absolute;
  left: 0;
  justify-content: flex-end;
}

.percentage {
  opacity: 0.8;
  font-size: .8em;
  line-height: 1;
  text-transform: uppercase;
  width: 100%;
  height: 40px;
  margin-left: 130px;
  background: repeating-linear-gradient(
  to right,
  transparent,
  transparent 1px,
  #8c8c8c 1px,
  #8c8c8c 5%
);

  &:after {
    content: "";
    display: block;
    background-image: -webkit-linear-gradient(top, #E00083, #583047);
    background-image: -moz-linear-gradient(top, #E00083, #583047);
    background-image: -ms-linear-gradient(top, #E00083, #583047);
    background-image: -o-linear-gradient(top, #E00083, #583047);
    background-image: linear-gradient(to bottom, #E00083, #583047);
    width: 50px;
    margin-bottom: 10px;
    height: 90%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    transition: background-color .3s ease;
    cursor: pointer;
  }
  &:hover,
  &:focus {
    &:after {
       background-color: #aaa;
    }
  }
}

@for $i from 1 through 100 {
  .percentage-#{$i} {
    &:after {
      $value: ($i * 1%);
      width: $value;
    }
  }
}

html, body {
  height: 500px;
  font-family: "fira-sans-2",sans-serif;
  color: #333;
}

#moon-price {
  position: sticky;
  text-align: right;
}
