#cryptocurrency-form {
  margin: auto;
  width: 30%;
  label {
    color: #FFF;
    text-align: left;
    margin: 0px
  }
  input {
    border-radius: 25px;
    margin: 20, 0, 0, 0;
  }
}

#form-title {
  color: #FFF;
  background-color: black;
  color: white;
  font-family: "lato", sans-serif;
}

#name-crypto-page {
  margin-top: 3%;
}
