.moon {
  height: 10%;
  width: 10%;
}

.moon-hover {
  // background: url("/images/Rocket_Image.png")
}

img.moon:hover {
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.5);

}
