.moon {
  height: 15%;
  width: 15%;
  float: right;
  margin: 50, 40, 10;
}

img.moon:hover {
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.5);

}
